{
  "configurations": [
    {
      "name": "x64-Debug",
      "generator": "Ninja",
      "configurationType": "Debug",
      "buildRoot": "${projectDir}\\out\\build\\${name}",
      "cmakeCommandArgs": "-DOpenCV_DIR=C:/CHANGE_ME/opencv/build"
    },
    {
      "name": "x64-Release",
      "generator": "Ninja",
      "configurationType": "Release",
      "buildRoot": "${projectDir}\\out\\build\\${name}",
      "cmakeCommandArgs": "-DOpenCV_DIR=C:/CHANGE_ME/opencv/build"
    }
  ]
}
